{% extends 'base.html.twig' %}

{% block title %}EcoSim — Ma maison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/game.css') }}">
{% endblock %}

{% block body %}
<div class="wrap wrap-game">
    {% for message in app.flashes('error') %}
        <div class="banner">⚠️ {{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="banner banner-ok">✅ {{ message }}</div>
    {% endfor %}

    <twig:GameDashboard />
</div>
{% endblock %}
